<?xml version="1.0"?>
<ruleset name="Open Access Toolbar">
	<description>WordPress Coding Standards plus PHP 7.4+ compatibility.</description>

	<file>.</file>
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/tests/*</exclude-pattern>
	<exclude-pattern>/build/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg value="sp"/>
	<arg name="colors"/>

	<config name="testVersion" value="7.4-"/>
	<config name="minimum_wp_version" value="6.5"/>

	<rule ref="WordPress"/>
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="open-access-toolbar"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="oatb"/>
				<element value="OATB"/>
			</property>
		</properties>
	</rule>
</ruleset>
